---
layout: page
title: Notes
persistent: true
---

<!-- 
I have a compilation of notes in Robotics, Control Systems and Optimization in English an Spanish that I use to quickly explain concepts and tools relevant to locomotion control. 

<br>

Notes in English:

{% for page in site.pages %}
    {% if page.collection == "notes_en"  %}
        <li> <p> <b> <a href="{{ page.url }}"> {{ page.title }} </a> </b> </p> </li>
    {% endif %}
{% endfor %}

<br>
-->

<!-- 
Notes in Spanish (Notas en espanol):

{% for page in site.pages %}
    {% if page.identifier == "notes_es"  %}
        <li> <p> <b> <a href="{{ page.url }}"> {{ page.title }} </a> </b> </p> </li>
    {% endif %}
{% endfor %}
-->