---
layout: page
title: Research
persistent: true
---
My ongoing research contributes to the field of bipedal locomotion, specifically emphasizing its applications for humanoids and exoskeleton devices. The core of my investigation lies in leveraging optimization, template-based planners, and non-linear control to enhance the efficiency and adaptability of these systems. My academic journey commenced with a Master of Science in Mechanical Engineering from Texas A&M University, where I delved into the groundbreaking realms of bipedal locomotion and the nascent field of lower-limb prosthetic devices. This formative period laid the foundation for my current pursuits, shaping my expertise and passion for advancing the capabilities of legged robotics.

<header>
    <h3> Publication List: </h3>
    <p>
        Time-Varying ALIP Model and Robust Foot-Placement Control for Underactuated Bipedal Robotic Walking on a Swaying Rigid Surface.
        Gao, Yuan and Gong, Yukai and Paredes, Victor and Hereid, Ayonga and Gu, Yan. 2023 American Control Conference (ACC)
    </p>

    <p>
        Resolved motion control for 3d underactuated bipedal walking using linear inverted pendulum dynamics and neural adaptation.
        Paredes, Victor C and Hereid, Ayonga. 2022 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)
    </p>    

    <p>
        Exponential stabilization of periodic LIP walking on a horizontally moving surface.
        Gao, Yuan and Paredes, Victor and Hereid, Ayonga and Gu, Yan. Dynamic Walking Conference
    </p>

    <p>
        Adaptive feedback regulator for powered lower-limb exoskeleton under model uncertainty.
        Thakkar, Kirtankumar and Paredes, Victor and Hereid, Ayonga. arXiv preprint arXiv:2104.11775
    </p>

    <p>
        Dynamic locomotion of a lower-limb exoskeleton through virtual constraints based zmp regulation.
        Paredes, Victor and Hereid, Ayonga. Dynamic Systems and Control Conference
    </p>

    <p>
        Grey box identification and adaptive control in a water level system.
        Rodriguez, R and Paredes, V and Noa, G and Trucios, L. IOP Conference Series: Materials Science and Engineering
    </p>

    <p>
        Consolidated control framework to control a powered transfemoral prosthesis over inclined terrain conditions.
        Hong, Woolim and Paredes, Victor and Chao, Kenneth and Patrick, Shawanee and Hur, Pilwon. 2019 International Conference on Robotics and Automation (ICRA)
    </p>

    <p>
        First steps toward translating robotic walking to prostheses: a nonlinear optimization based control approach.
        Zhao, Huihua and Horn, Jonathan and Reher, Jacob and Paredes, Victor and Ames, Aaron D. Autonomous Robots
    </p>

    <p>
        Upslope walking with transfemoral prosthesis using optimization based spline generation.
        Paredes, Victor and Hong, Woolim and Patrick, Shawanee and Hur, Pilwon. 2016 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)
    </p>

    <p>
        Multicontact locomotion on transfemoral prostheses via hybrid system models and optimization-based control.
        Zhao, Huihua and Horn, Jonathan and Reher, Jacob and Paredes, Victor and Ames, Aaron D. IEEE Transactions on Automation Science and Engineering.
    </p>

    <p>
        A hybrid systems and optimization-based control approach to realizing multi-contact locomotion on transfemoral prostheses.
        Zhao, Huihua and Horn, Jonathan and Reher, Jacob and Paredes, Victor and Ames, Aaron D. 2015 54th IEEE Conference on Decision and Control (CDC).
    </p>

    <p>
        Realization of stair ascent and motion transitions on prostheses utilizing optimization-based control and intent recognition.
        Zhao, Huihua and Reher, Jacob and Horn, Jonathan and Paredes, Victor and Ames, Aaron D. 2015 IEEE International Conference on Rehabilitation Robotics (ICORR).
    </p>
    
    <p>
        Demonstration of locomotion with the powered prosthesis AMPRO utilizing online optimization-based control.
        Zhao, Huihua and Reher, Jake and Horn, Jonathan and Paredes, Victor and Ames, Aaron D. Proceedings of the 18th International Conference on Hybrid Systems: Computation and Control.
    </p>
    
    <p>
        Realization of nonlinear real-time optimization based controllers on self-contained transfemoral prosthesis.
        Zhao, Huihua and Reher, Jake and Horn, Jonathan and Paredes, Victor and Ames, Aaron D. Proceedings of the ACM/IEEE Sixth International Conference on Cyber-Physical Systems.
    </p>

</header>




<!-- 
Here is a list of my research by topics:

{% for page in site.pages %}
    {% if page.identifier == "research" %}
        <li> <a href="  {{page.url  }}"> {{ page.title }} </a>  </li>
    {% endif %}
{% endfor %}

-->